### Paul Hyden, PA5, FA22

In [ ]:
translate = {'couch' : 'tolg',
            'ball' : 'liathroid',
            'foot' : 'chos',
            'hand' : 'lamh',
            'car' : 'carr',
            'train' : 'traein',
            'airplane' : 'eitlean',
            'foot' : 'chos',
            'phone' : 'fon',
            'computer' : 'riomhaire',
            'dog' : 'madra',
            'kitty' : 'caitin',
            'soccer' : 'sacar',
            'basketball' : 'cispheil',
            'girl' : 'cailin',
            'boy' : 'buachaill',
            'chair' : 'cathaoir',
            'table' : 'tabla',
            'arm' : 'lamh',
            'school' : 'scoil'}
while True:
    
    answer = input("Enter a word to translate from English to Irish (enter 0 to stop)\n: ")
    if answer == '0':
        break
    second_char = answer[1]
    if answer in translate:
        print("The Irish word for " + answer + " is " + translate[answer] + ".")
    else:
        print("The Irish word for " + answer + " is not in this dictionary.")

In [4]:
weather_dict = {
    '1st September': 82,
    '2nd September': 79,
    '3rd September': 81,
    '4th September': 79,
    '5th September': 79,
    '6th September': 78,
    '7th September': 79,
    '8th September': 79,
    '9th September': 78,
    '10th September': 79,
    '11th September': 79,
    '12th September': 79,
    '13th September': 79,
    '14th September': 79,
    '15th September': 79,
    '16th September': 79,
    '17th September': 79,
    '18th September': 79,
    '19th September': 79,
    '20th September': 79,
    '21st September': 79,
    '22nd September': 79,
    '23rd September': 79,
    '24th September': 79,
    '25th September': 79,
    '26th September': 79,
    '27th September': 79,
    '28th September': 78,
    '29th September': 79,
    '30th September': 79
}
for key, value in weather_dict.items():
    celsius_temp = (value - 32) * 5/9
    weather_dict[key] = round(celsius_temp, 2)
    
print(weather_dict)

{'1st September': 27.78, '2nd September': 26.11, '3rd September': 27.22, '4th September': 26.11, '5th September': 26.11, '6th September': 25.56, '7th September': 26.11, '8th September': 26.11, '9th September': 25.56, '10th September': 26.11, '11th September': 26.11, '12th September': 26.11, '13th September': 26.11, '14th September': 26.11, '15th September': 26.11, '16th September': 26.11, '17th September': 26.11, '18th September': 26.11, '19th September': 26.11, '20th September': 26.11, '21st September': 26.11, '22nd September': 26.11, '23rd September': 26.11, '24th September': 26.11, '25th September': 26.11, '26th September': 26.11, '27th September': 26.11, '28th September': 25.56, '29th September': 26.11, '30th September': 26.11}

In [6]:
d=dict()
for x in range(1,16):
    d[x]=x**2
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}